.course-profile-container {
  margin: 0 auto;
  width: 580px;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #636664;
}

.course-title{
  display: flex;
  justify-content: center;
  font-size: 38px;
}

.student-index {
  width:300px;

}

.student-index-item {
  width:300px;
}
.index-port-container {
  display:flex;
  justify-content: space-between;
}
.student-port {
  height:300px;
  width:300px;
  border:1px solid red;
  margin-top:15px;
  margin-left: 10px;
}
