
.footer-container {
  height: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  background: #F3F4F7;
  margin-top: 50px;
  color: #636664;
}

.footer-name {
  font-size: 25px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.link-list {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.border {
  width: 55%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #636664;
;
}

.link-fa {
  font-size: 40px;
  color: #636664;
  padding-right: 15px;
}

.link-fa:hover {
  cursor: pointer;
  color: #36C967;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
