.nav-header {
  display: flex;
  justify-content: center;
  font-size: 80px;
  color: #36C967;
  text-align: center;
  font-family: 'Acme', sans-serif;
  letter-spacing: .5px;
  text-shadow:
    .5px  .5px 1px #A4AAA5,
    .5px -.5px 1px #A4AAA5,
   -.5px  .5px 1px #A4AAA5,
   -.5px -.5px 1px #A4AAA5;

  align-items: center;
  margin-top: 25px;
}

.nav-button {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100px;
  border: 1px solid #636664;
  padding: 6px;
  color: #636664;
  text-align: center;
  border-radius: 8px;
  letter-spacing: .5px;
}

.logout {
  margin-top: 15px;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #636664;
  color: #fff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.border-bottom {
  border: 1px solid #636664;
  width: 520px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 10px;
}
