.student-profile-container{
  font-family: 'Source Sans Pro', sans-serif;
  color: #636664;
}

.student-title, .student-gpa {
  display:flex;
  justify-content: center;
  font-size: 38px;
  margin-top: 20px;
}

.enrolled {
  font-size: 32px;
  margin: 0 auto;
  border-bottom: 1px solid #636664;
  width: 400px;
  text-align: center;
  margin-top: 15px;
}

.student-gpa {
  font-size: 28px;
}
.course-list-container{
  margin-top: 40px;
  border: 1px solid #636664;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.student-profile-index-item{
  pointer-events: none;
  background-color: #fff;
}
