.greeting-message-1, .greeting-message-2, .course-index {
  display: flex;
  justify-content: center;
}

.greeting-message-1 {
  font-size: 38px;
  margin-top: 15px;
  text-align: center;
}

.greeting-message-2 {
  font-size: 25px;
  margin: 10px;
}
